name: Install Froster remotely
run-name: Froster PyPi install on Ubuntu-latest.
on: [push, pull_request]

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install pipx
      run: python -m pip install pipx

    - name: Install froster remotely
      run: curl -s https://raw.githubusercontent.com/dirkpetersen/froster/main/install.sh?$(date +%s) | bash

    - name: Source ~/.bashrc
      run: source ~/.bashrc

    - name: Check Froster is installed
      run: froster --info

